<div
  class="overlay"
  tabindex="0"
  (click)="closeMenu()"
  (keyup.enter)="closeMenu()"
  [class.open]="menuOpen"
></div>
<nav class="sliding-menu" [class.open]="menuOpen">
  <div class="slide-header">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.png" alt="Logo" height="80" />
      </a>
    </div>
    <button
      mat-button
      color="primary"
      (click)="closeMenu()"
      (keyup.enter)="closeMenu()"
    >
      <mat-icon color="accent" class="medium-icon">close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <ul class="mobile-links" role="menubar">
    <li role="menuitem"><a href="#">Login</a></li>
    <li role="menuitem"><a href="#">Cadastro</a></li>
  </ul>
  <mat-divider></mat-divider>
  <ul class="mobile-links" role="menubar">
    <li role="menuitem"><a href="#">PS5</a></li>
    <li role="menuitem"><a href="#">PS4</a></li>
    <li role="menuitem"><a href="#">PS3</a></li>
    <li role="menuitem"><a href="#">Xbox One</a></li>
    <li role="menuitem"><a href="#">Xbox 360</a></li>
    <li role="menuitem"><a href="#">Nitendo Switch</a></li>
    <li role="menuitem"><a href="#">Nitendo 3DS</a></li>
  </ul>
  <!-- Add more links as needed -->
</nav>
