<section class="main-section">
  <div class="game-container" *ngIf="game; else loading">
    <mat-card [style.max-width]="cardMaxWidth$ | async" class="responsive-card">
      <div class="slider-container">
        <img [src]="game.imagesUrls[currentIndex]" alt="Image" [class.mobile]="isMobile$ | async" class="slider-image" />
        <button mat-mini-fab class="arrow left" (click)="prevImage()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-mini-fab class="arrow right" (click)="nextImage()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <div class="dots">
          <span
            *ngFor="let imageUrl of game.imagesUrls; let i = index"
            [class.active]="i === currentIndex"
            tabindex="1"
            (keyup)="(null)"
            (click)="goToImage(i)"
          ></span>
        </div>
      </div>
      <mat-card-content>
        <div class="card-title">{{ game.name }}</div>
        <div class="card-description">
          {{ game.description }}
        </div>
        <div class="chat-button">
          <button (click)="openTextMessageDialog()" mat-raised-button color="accent" class="btn-rounded">
            <mat-icon>chat</mat-icon>
            Negociar
          </button>
        </div>
        <div class="card-informations">
          <span class="game-owner">{{ game.owner }}</span>
          <span class="console">{{ game.consoleModel }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #loading>
    <div class="loading-container">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </ng-template>
</section>
