<section class="main-section">
  <div class="game-container">
    <mat-card [style.max-width]="cardMaxWidth$ | async" class="responsive-card">
      <div class="slider-container">
        <img
          [src]="images[currentIndex]"
          [style.max-height]="imageMaxHeight$ | async"
          alt="Image"
          class="slider-image"
        />
        <button mat-mini-fab class="arrow left" (click)="prevImage()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-mini-fab class="arrow right" (click)="nextImage()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <div class="dots">
          <span
            *ngFor="let image of images; let i = index"
            [class.active]="i === currentIndex"
            tabindex="1"
            (keyup)="(null)"
            (click)="goToImage(i)"
          ></span>
        </div>
      </div>
      <mat-card-content>
        <div class="card-title">Card Title</div>
        <div class="card-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sit enim
          distinctio modi laboriosam quo delectus, placeat nam harum nihil!
        </div>
        <div class="chat-button">
          <button
            (click)="openTextMessageDialog()"
            mat-raised-button
            color="primary"
            class="btn-rounded"
          >
            Negociar
          </button>
        </div>
        <div class="card-informations disabled-typography">
          <span class="game-owner">Fernando Santana</span>
          <span class="console">PS3</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>
