.main-section {
  min-height: 980px;
  padding-top: 50px;
}
.game-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0 20px;
}

.responsive-card {
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.slider-container {
  position: relative;
}

.slider-image {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}
.dots span.active {
  background: white;
}
.card-title {
  display: flex;
  justify-content: center;
}
.card-description {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
}
.chat-button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.card-informations {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
