<div class="location-select">
  <mat-dialog-content>
    <ng-select
      class="location-select"
      [items]="locations$ | async"
      (search)="onSearch($event)"
      placeholder="Pesquisa uma cidade"
      [clearable]="true"
      bindLabel="name"
      bindValue="id"
      appearance="outline"
      notFoundText="Cidade não encontrada."
      [formControl]="searchControl"
      appendTo="body"
      (change)="onChange($event)"
    >
    </ng-select>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="actions-container">
      <button mat-button matDialogClose>Cancelar</button>
    </div>
  </mat-dialog-actions>
</div>
