<div class="location-select">
  <mat-dialog-content>
    <ng-select
      class="location-select"
      [items]="locations$ | push"
      (change)="onChange($event)"
      (search)="onSearch($event)"
      placeholder="Pesquisa uma cidade"
      [clearable]="true"
      bindLabel="name"
      bindValue="id"
      appearance="outline"
      notFoundText="Cidade não encontrada para o termo pesquisado"
      appendTo="body"
    >
    </ng-select>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="actions-container">
      <button mat-button matDialogClose>Cancelar</button>
      <button mat-raised-button color="primary" class="btn-rounded" (click)="removeFilter()">Remover Filtro</button>
    </div>
  </mat-dialog-actions>
</div>
