
// .dialog-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   min-width: 80%;
// }
form .mat-mdc-form-field {
  width: 100%;
}
.login-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.error-message {
  color: rgb(234, 15, 15);
  margin-bottom: 16px;
  text-align: center;
}
