<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput type="text" formControlName="username" required placeholder="Login" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="loginForm.invalid">
    Login
  </button>
</mat-dialog-actions>
