<nav class="main-nav flex h-[100px]" *rxLet="isHandsetOrSmall$; let isHandsetOrSmall">
  <div class="logo-container">
    <a routerLink="/">
      <img
        src="assets/images/logo.png"
        alt="Logo"
        class="logo-img"
        [class.mobile]="isHandsetOrSmall"
        width="200"
        height="98"
      />
    </a>
  </div>
  <ng-container *rxIf="isHandsetOrSmall === false">
    <ng-template tabindex="1" #suspense>
      <ul class="links flex-grow">
        <li tabindex="1" role="menuitem">
          <mat-icon color="accent" class="menu-icon">sync</mat-icon>
          <a>Carregando...</a>
        </li>
      </ul>
    </ng-template>
    <ul role="menubar" class="links flex-grow" *rxLet="user$; let user; suspense: suspense">
      <ng-container *rxIf="user; else loggedOut">
        <li tabindex="1" role="menuitem">
          <a routerLink="/publish">
            <mat-icon color="accent" class="menu-icon">publish</mat-icon>
            Publicar Jogo
          </a>
        </li>
        <li tabindex="2" role="menuitem">
          <a routerLink="/my-games">
            <mat-icon color="accent" class="menu-icon">gamepad</mat-icon>
            Meus jogos
          </a>
        </li>
        <li tabindex="3" role="menuitem">
          <div class="icon-wrapper">
            <ng-container *rxLet="totalUnread$; let totalUnreadCount">
              <span class="badge" *rxIf="totalUnreadCount > 0">{{ totalUnreadCount }}</span>
            </ng-container>
          </div>
          <a routerLink="/chat">
            <mat-icon color="accent" class="menu-icon">sms</mat-icon>
            Conversas
          </a>
        </li>
        <button mat-raised-button color="accent" (click)="logout()">
          Sair, {{ user?.displayName | getFirstName }}
          <mat-icon color="primary" class="menu-icon">logout</mat-icon>
        </button>
      </ng-container>
      <ng-template #loggedOut>
        <li
          appClickAndKey
          (appClickAndKey)="localDialogsService.openLoginDialog()"
          tabindex="2"
          role="menuitem"
        >
          <a>
            <mat-icon color="accent" class="menu-icon">login</mat-icon>
            Login
          </a>
        </li>
        <li
          appClickAndKey
          (appClickAndKey)="localDialogsService.openRegistrationDialog()"
          tabindex="3"
          role="menuitem"
        >
          <a>
            <mat-icon color="accent" class="menu-icon">person_add</mat-icon>
            Cadastro
          </a>
        </li>
      </ng-template>
    </ul>
  </ng-container>
  <div
    appClickAndKey
    (appClickAndKey)="localDialogsService.openLocationDialog()"
    class="location"
    tabindex="0"
    *rxIf="isHandsetOrSmall === false"
  >
    <mat-icon color="accent">gps_fixed</mat-icon>
    <button mat-raised-button color="accent" *rxLet="selectedLocation$; let location">
      {{ location ? location.name : "Filtrar por cidade" }}
    </button>
  </div>
  <div class="mobile-menu" *rxIf="isHandsetOrSmall" [class.mobile-menu-end]="isHandsetOrSmall">
    <button mat-button color="primary" (click)="slideMenuService.toggleMenu()">
      <mat-icon color="accent" class="menu-icon">menu</mat-icon>
    </button>
  </div>
  <app-sliding-menu #slidingMenu></app-sliding-menu>
</nav>
