<nav class="main-nav" *rxLet="isHandsetOrSmall$; let isHandsetOrSmall">
  <div class="logo" [class.mobile-logo]="isHandsetOrSmall">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" height="70" />
    </a>
  </div>
  <ul role="menubar" class="links stretch" *rxIf="isHandsetOrSmall === false">
    <ng-template #loggedOut>
      <li (click)="openLoginDialog()" (keyup.enter)="(null)" tabindex="2" role="menuitem">
        <mat-icon color="accent" class="menu-icon">login</mat-icon>
        <a>Login</a>
      </li>
      <li (click)="openRegistrationDialog()" (keyup.enter)="(null)" tabindex="3" role="menuitem">
        <mat-icon color="accent" class="menu-icon">person_add</mat-icon>
        <a>Cadastro</a>
      </li>
    </ng-template>
    <ng-container *rxIf="user$; else loggedOut">
      <li tabindex="1" role="menuitem">
        <mat-icon color="accent" class="menu-icon">publish</mat-icon>
        <a routerLink="/publish">Publicar Jogo</a>
      </li>
      <li tabindex="2" role="menuitem">
        <mat-icon color="accent" class="menu-icon">gamepad</mat-icon>
        <a routerLink="/my-games/all">Meus jogos</a>
      </li>
      <li tabindex="3" role="menuitem">
        <div class="icon-wrapper">
          <span class="badge" *rxIf="(totalUnread$ | async) ? (totalUnread$ | async) : 0 > 0">{{
            totalUnread$ | async
          }}</span>
          <mat-icon color="accent" class="menu-icon">sms</mat-icon>
        </div>
        <a routerLink="/chat">Conversas</a>
      </li>
      <button mat-raised-button color="accent" (click)="logout()">
        Sair
        <mat-icon color="primary" class="menu-icon">logout</mat-icon>
      </button>
    </ng-container>
  </ul>
  <div
    (click)="openLocationDialog()"
    class="location"
    (keyup)="(null)"
    tabindex="0"
    *rxIf="isHandsetOrSmall === false"
  >
    <mat-icon color="accent">gps_fixed</mat-icon>
    <button mat-raised-button color="accent" *rxLet="selectedLocation$; let location">
      {{ location ? location.name : "Filtrar por cidade" }}
    </button>
  </div>
  <div class="mobile-menu" *rxIf="isHandsetOrSmall" [class.mobile-menu-end]="isHandsetOrSmall">
    <button mat-button color="primary" (click)="slidingMenu.toggleMenu()">
      <mat-icon color="accent" class="menu-icon">menu</mat-icon>
    </button>
  </div>
  <app-sliding-menu #slidingMenu></app-sliding-menu>
</nav>
