.mobile-logo {
  margin-left: 0px;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  li {
    display: flex;
    align-items: center;
  }
  li a {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
  }
}

.location {
  display: flex;
  margin-right: 20px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  .menu-icon {
    font-size: 35px;
    line-height: 35px;
    width: 35px;
    height: 35px;
    display: inline-block;
  }
}
.mobile-menu-end {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0px;
}

.icon-wrapper {
  position: relative;
  display: flex;
}
.badge {
  position: absolute;
  top: -13px;
  left: -13px;
  background-color: red;
  color: white;
  padding: 0 6px;
  font-size: 0.75rem;
  border-radius: 50%;
  font-weight: bold;
}
