<nav class="main-nav flex h-[100px]" *rxLet="isHandsetOrSmall$; let isHandsetOrSmall">
  <div class="logo" [class.mobile-logo]="isHandsetOrSmall">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" height="70" />
    </a>
  </div>
  <ng-container *rxIf="isHandsetOrSmall === false">
    <ng-template tabindex="1" #suspense>
      <ul class="links flex-grow">
        <li tabindex="1" role="menuitem">
          <mat-icon color="accent" class="menu-icon">sync</mat-icon>
          <a>Carregando...</a>
        </li>
      </ul>
    </ng-template>
    <ul role="menubar" class="links flex-grow" *rxLet="user$; let user; suspense: suspense">
      <ng-container *rxIf="user; else loggedOut">
        <li tabindex="1" role="menuitem">
          <a routerLink="/publish">
            <mat-icon color="accent" class="menu-icon">publish</mat-icon>
            Publicar Jogo
          </a>
        </li>
        <li tabindex="2" role="menuitem">
          <a routerLink="/my-games">
            <mat-icon color="accent" class="menu-icon">gamepad</mat-icon>
            Meus jogos
          </a>
        </li>
        <li tabindex="3" role="menuitem">
          <div class="icon-wrapper">
            <span class="badge" *rxIf="(totalUnread$ | async) ? (totalUnread$ | async) : 0 > 0">{{
              totalUnread$ | async
            }}</span>
          </div>
          <a routerLink="/chat">
            <mat-icon color="accent" class="menu-icon">sms</mat-icon>
            Conversas
          </a>
        </li>
        <button mat-raised-button color="accent" (click)="logout()">
          Sair, {{ user.displayName | getFirstName }}
          <mat-icon color="primary" class="menu-icon">logout</mat-icon>
        </button>
      </ng-container>
      <ng-template #loggedOut>
        <li (click)="openLoginDialog()" (keyup.enter)="(null)" tabindex="2" role="menuitem">
          <a>
            <mat-icon color="accent" class="menu-icon">login</mat-icon>
            Login
          </a>
        </li>
        <li (click)="openRegistrationDialog()" (keyup.enter)="(null)" tabindex="3" role="menuitem">
          <a>
            <mat-icon color="accent" class="menu-icon">person_add</mat-icon>
            Cadastro
          </a>
        </li>
      </ng-template>
    </ul>
  </ng-container>
  <div
    (click)="openLocationDialog()"
    class="location"
    (keyup)="(null)"
    tabindex="0"
    *rxIf="isHandsetOrSmall === false"
  >
    <mat-icon color="accent">gps_fixed</mat-icon>
    <button mat-raised-button color="accent" *rxLet="selectedLocation$; let location">
      {{ location ? location.name : "Filtrar por cidade" }}
    </button>
  </div>
  <div class="mobile-menu" *rxIf="isHandsetOrSmall" [class.mobile-menu-end]="isHandsetOrSmall">
    <button mat-button color="primary" (click)="slidingMenu.toggleMenu()">
      <mat-icon color="accent" class="menu-icon">menu</mat-icon>
    </button>
  </div>
  <app-sliding-menu #slidingMenu></app-sliding-menu>
</nav>
