.sub-nav {
  display: flex;
  flex-direction: row;
  height: 22px;
  justify-content: center;
}
.sub-nav-bottom {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  flex-wrap: wrap;

  ul.consoles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
  }
}

.location {
  display: flex;
  flex-grow: 1;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.consoles li a img.active{
  border: 2px solid rgb(33, 2, 2);
  border-radius: 25px;
}
