<nav class="sub-nav" *rxIf="showSearchBar">
  <app-search-bar></app-search-bar>
</nav>
<nav class="sub-nav-bottom" *rxLet="isHandsetOrSmall$; let isHandsetOrSmall">
  <ul class="consoles" *ngIf="isHandsetOrSmall === false">
    <li>
      <a routerLink="/console/ps5"
        ><img
          src="assets/images/svg/ps5.svg"
          alt="Playstation 5"
          title="Playstation 5"
          [routerLinkActive]="['active']"
      /></a>
    </li>
    <li>
      <a routerLink="/console/ps4"
        ><img
          src="assets/images/svg/ps4.svg"
          alt="Playstation 4"
          title="Playstation 4"
          [routerLinkActive]="['active']"
      /></a>
    </li>
    <li>
      <a routerLink="/console/ps3"
        ><img
          src="assets/images/svg/ps3.svg"
          alt="Playstation 3"
          title="Playstation 3"
          [routerLinkActive]="['active']"
      /></a>
    </li>
    <li>
      <a routerLink="/console/xbox-one"
        ><img
          src="assets/images/svg/xbox-one.svg"
          alt="Xbox One"
          title="Xbox One"
          [routerLinkActive]="['active']"
      /></a>
    </li>
    <li>
      <a routerLink="/console/xbox-360"
        ><img
          src="assets/images/svg/xbox360.svg"
          alt="Xbox 360"
          title="Xbox 360"
          [routerLinkActive]="['active']"
      /></a>
    </li>
    <li>
      <a routerLink="/console/nintendo-switch"
        ><img
          src="assets/images/svg/nintendo-switch.svg"
          alt="Nitendo Switch"
          title="Nitendo Switch"
          [routerLinkActive]="['active']"
      /></a>
    </li>
    <li>
      <a routerLink="/console/nintendo-3ds"
        ><img
          src="assets/images/svg/nintendo-3ds.svg"
          alt="Nintendo 3DS"
          title="Nintendo 3DS"
          [routerLinkActive]="['active']"
      /></a>
    </li>
  </ul>
  <div
    appClickAndKey
    tabindex="1"
    (appClickAndKey)="localDialogsService.openLocationDialog()"
    class="location"
    *ngIf="isHandsetOrSmall"
  >
    <mat-icon color="accent">gps_fixed</mat-icon>
    <button mat-raised-button color="accent" *rxLet="selectedLocation$ as location">
      {{ location ? location.name : "Filtrar por cidade" }}
    </button>
    <!-- <button mat-raised-button color="accent">Localização</button> -->
  </div>
  <div
    appClickAndKey
    tabindex="2"
    (appClickAndKey)="conversationsService.toggleConversations()"
    class="location"
    *rxIf="isHandsetOrSmall && (user$ | push)"
  >
    <mat-icon color="accent">sms</mat-icon>
    <div class="button-wrapper">
      <div class="icon-wrapper">
        <ng-container *rxLet="totalUnread$; let totalUnreadCount">
          <span class="badge" *rxIf="totalUnreadCount > 0">{{ totalUnreadCount }}</span>
        </ng-container>
      </div>
      <button mat-raised-button color="accent">
        <a routerLink="/chat">Conversas</a>
      </button>
    </div>
  </div>
</nav>
