.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  height: 130%;
}
.avatar {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: auto;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.reputation,
.city {
  color: #827070;
  font-weight: 600;
}
.rating {
  display: flex;
  padding-top: 12px;
  justify-content: center;
}
.star {
  cursor: pointer;
  margin: 0 2px;
}
.large-star {
  font-size: 38px;
  width: 38px;
  height: 38px;
}
