<mat-card class="card-container" [class.large]="cardSize === 'large'">
  <mat-card-header>
    <div
      mat-card-avatar
      class="game-header-image"
      [ngStyle]="{ 'background-image': 'url(' + avatarUrl + ')' }"
    ></div>
    <mat-card-title>{{ game.name }}</mat-card-title>
    <mat-card-subtitle>{{ game.owner }}</mat-card-subtitle>
  </mat-card-header>
  <div class="image-container">
    <img
      mat-card-image
      [src]="previewMode ? imagePreview : game.imagesUrls[0]"
      class="rounded-image"
      alt="Imagem do Jogo"
    />
  </div>
  <mat-card-content class="description" ellipsis [ellipsis-content]="game.description">
  </mat-card-content>
  <mat-card-actions align="end">
    <span class="platform">{{ game.consoleModel | translateConsolePipe }}</span>
  </mat-card-actions>
</mat-card>
