.game-header-image {
  background-size: cover;
}
.rounded-image {
  width: 330px;
  height: 330px;
  margin: 0 4px;
  object-fit: cover;
  border-radius: 20px !important;
}
.description {
  height: 100px;
}
.image-container {
  display: flex;
  justify-content: center;
}
.platform {
  margin-right: 10px;
  font-style: italic;
  font-weight: bold;
}
.card-container {
  max-width: 350px;
}
.card-container.large {
  max-width: 600px;
}
