<section class="main">
  <div class="showing">
    <span class="showing-text">Exibindo: Mais Procurados</span>
  </div>
  <div class="cards">
    <div *ngFor="let n of times; let i = index">
      <a [routerLink]="['/game/20']">
        <mat-card class="game-card">
          <mat-card-header>
            <div mat-card-avatar class="game-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <span>PS3</span>
          </mat-card-actions>
        </mat-card>
      </a>
    </div>
  </div>
</section>
