<section class="main">
  <ng-container *ngIf="games$ | async as gamesList; else noGames">
    <div class="showing">
      <span class="showing-text">{{
        gamesList.length > 0
          ? "Exibindo: " + this.currentConsole
          : "Nenhum Jogo encontrado para os seus filtros."
      }}</span>
    </div>
    <div class="cards">
      <div *ngFor="let game of gamesList">
        <a [routerLink]="['/game', game.id]">
          <app-game-card [gameInfo]="game"></app-game-card>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-template #noGames>
    <div class="showing">
      <span class="showing-text">Carregando...</span>
    </div>
  </ng-template>
</section>
