.main-section {
  padding-top: 50px;
  height: 120%;
}
.game-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0 20px;
}
.responsive-card {
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  max-width: 950px;
}
.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.slider-container img {
  margin: 0 auto;
}
.slider-image {
  aspect-ratio: 4/3;
  object-fit: contain;
  object-position: center;
  min-height: 600px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slider-image.image-loaded {
  opacity: 1;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}
.dots span.active {
  background: white;
}
.card-title {
  display: flex;
  justify-content: center;
}
.card-description {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
}

.info-container {
  display: flex;
}
.card-informations {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 30px;
  margin-bottom: 20px;
}
.chat-button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 30px;
}
.loading-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.actions {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 20px;
}
.delete-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-info {
  margin-top: 20px;
  color: red;
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
}
.game-owner,
.console,
.used-time,
.login-info {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 8px; /* Optional: Adds some space between the icon and text */
}
