<app-main-nav></app-main-nav>
<app-sub-nav></app-sub-nav>
<section class="main-section" *rxLet="user$; let user">
  <div class="game-container" *rxIf="game$; let game; else: loading">
    <mat-card *rxLet="photoIndex$; let photoIndex" class="responsive-card">
      <div class="slider-container">
        <img
          [src]="game.imagesUrls[photoIndex]"
          alt="Image"
          [class.mobile]="isHandsetOrSmall$ | push"
          [class.image-loaded]="imageIsLoaded$ | push"
          class="slider-image"
          (load)="showLoadedImage()"
        />
        <button mat-mini-fab class="arrow left" (click)="prevImage()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-mini-fab class="arrow right" (click)="nextImage()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <div class="dots">
          <span
            *rxFor="let imageUrl of game.imagesUrls; let i = index"
            [class.active]="i === photoIndex"
            tabindex="1"
            (keyup)="(null)"
            (click)="goToImage(i)"
          ></span>
        </div>
      </div>
      <mat-card-content>
        <div class="card-title">{{ game.name }}</div>
        <div class="card-description">
          {{ game.description }}
        </div>
      </mat-card-content>
      <div class="info-container">
        <ng-container *rxIf="user && user.uid === game.ownerId; else normalActions">
          <div class="actions">
            <div class="delete-action">
              <app-progress-button
                holdable
                (holdTime)="onDeleteHold($event)"
                [progress]="deleteProgress"
              ></app-progress-button>
              <span class="delete-hint">Segure o botão para deletar</span>
            </div>
          </div>
        </ng-container>
        <ng-template #normalActions>
          <div class="card-informations">
            <span class="game-owner"><mat-icon>person</mat-icon> {{ game.owner }}</span>
            <span class="console"><mat-icon>videogame_asset</mat-icon> {{ game.consoleModel | translateConsole }}</span>
            <span class="used-time"><mat-icon>schedule</mat-icon> {{ game.usedTime }} meses de uso</span>
            <span class="login-info"><mat-icon>login</mat-icon> Faça login para negociar</span>
          </div>
          <div class="chat-button" *rxIf="user">
            <button
              (click)="openTextMessageDialog()"
              mat-raised-button
              color="accent"
              class="btn-rounded"
            >
              <mat-icon>chat</mat-icon>
              Negociar
            </button>
          </div>
        </ng-template>
      </div>
    </mat-card>
  </div>
  <ng-template #loading>
    <div class="loading-container">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </ng-template>
</section>
