.main {
  height: 100%;
}
.filter-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 5px;
}
.filter-text {
  font-family: 'Squada One', cursive;
  color: #1258a7;
  font-size: 1.25rem;
  text-align: center;
}
.cards {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 40px;
  justify-content: center;
}
.see-more {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
