.filter-container {
  display: flex;
  justify-content: center;
  padding: 14px 30px;
}
.filter-text {
  font-size: 1rem;
  text-align: center;
}
.cards {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 40px;
  justify-content: center;
}
