.main-section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: calc(100vh - 182px);
  align-items: center;
  padding-top: 30px;
}
.form-container {
  min-width: 800px;
  padding: 0 24px;
  padding-bottom: 60px;
  form .mat-mdc-form-field {
    width: 100%;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 24px;
  }
}
.form-container.mobile {
  min-width: 400px;
}
.field-container {
  padding-top: 4px;
}
.upload-container {
  padding-top: 15px;
}
.card-preview {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  border-radius: 30px;
}
