<h6 mat-dialog-title>Cadastro</h6>
<div class="form-container">
  <div *ngIf="registerErrorMessage" class="error-message mat-headline-6">
    {{ registerErrorMessage }}
  </div>
  <form [formGroup]="registrationForm">
    <mat-horizontal-stepper #stepper linear="true" [disableRipple]="true">
      <mat-step formGroupName="stepOne">
        <ng-template matStepLabel>Passo 1</ng-template>
        <div class="field-container">
          <mat-form-field floatLabel="always">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Email" #emailInput />
          </mat-form-field>
        </div>
        <div class="field-container">
          <mat-form-field floatLabel="always">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Senha" />
          </mat-form-field>
        </div>
        <div class="actions">
          <button mat-button matDialogClose>Cancelar</button>
          <button mat-button matStepperNext [disabled]="!registrationForm.get('stepOne')?.valid">Próximo</button>
        </div>
      </mat-step>
      <mat-step formGroupName="stepTwo">
        <ng-template matStepLabel>Passo 2</ng-template>
        <div class="field-container">
          <mat-form-field floatLabel="always">
            <mat-label>Nome Completo</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Nome Completo" />
          </mat-form-field>
        </div>
        <div class="field-container">
          <mat-form-field floatLabel="always">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" type="text" placeholder="CPF" mask="000.000.000-00" />
          </mat-form-field>
        </div>
        <div class="field-container">
          <ng-select
            class="location-select"
            [items]="locations$ | async"
            (search)="onSearch($event)"
            placeholder="Pesquisa sua cidade"
            [clearable]="true"
            bindLabel="name"
            bindValue="id"
            appearance="outline"
            notFoundText="Cidade não encontrada para o termo pesquisado"
            formControlName="selectedLocationId"
            appendTo="body"
          >
          </ng-select>
        </div>
        <button type="submit" style="display: none"></button>
        <div class="actions">
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-raised-button color="accent" (click)="submit()" [disabled]="registrationForm.invalid || isLoading">
            <mat-spinner *ngIf="isLoading; else buttonText" diameter="24"></mat-spinner>
            <ng-template #buttonText>Cadastrar</ng-template>
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
