.form-container {
  padding: 0 24px;
  padding-bottom: 10px;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 24px;
}
form .mat-mdc-form-field {
  width: 100%;
}
.error-message {
  color: rgb(234, 15, 15);
  margin-bottom: 16px;
  text-align: center;
}
