<h6 mat-dialog-title>Registro</h6>
<div class="form-container">
  <form [formGroup]="registrationForm">
    <mat-horizontal-stepper #stepper linear="true" [disableRipple]="true">
      <mat-step formGroupName="stepOne">
        <ng-template matStepLabel>Passo 1</ng-template>
        <div class="field-container">
          <mat-form-field floatLabel="always">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              type="email"
              placeholder="Email"
            />
          </mat-form-field>
        </div>
        <div class="field-container">
          <mat-form-field floatLabel="always">
            <mat-label>Senha</mat-label>
            <input
              matInput
              formControlName="password"
              type="password"
              placeholder="Senha"
            />
          </mat-form-field>
        </div>
        <div class="actions">
          <button mat-button matDialogClose>Cancelar</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      <mat-step formGroupName="stepTwo">
        <ng-template matStepLabel>Passo 2</ng-template>
        <div class="field-container">
          <mat-form-field floatLabel="always">
            <mat-label>Nome Completo</mat-label>
            <input
              matInput
              formControlName="name"
              type="text"
              placeholder="Nome Completo"
            />
          </mat-form-field>
        </div>
        <div class="field-container">
          <mat-form-field floatLabel="always">
            <mat-label>CPF</mat-label>
            <input
              matInput
              formControlName="cpf"
              type="text"
              placeholder="CPF"
              mask="000.000.000-00"
            />
          </mat-form-field>
        </div>
        <div class="actions">
          <button mat-button matStepperPrevious>Voltar</button>
          <button
            mat-button
            (click)="submit()"
            [disabled]="registrationForm.invalid"
          >
            Registrar
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
