<div class="search-bar">
  <mat-form-field class="search-bar-form-field">
    <input
      type="text"
      matInput
      [formControl]="searchGameInput"
      placeholder="Digite o nome do jogo"
      value="gameControl.value"
    />
    <button
      *ngIf="!searchGameInput.value"
      matSuffix
      mat-icon-button
      aria-label="Buscar"
      style="margin-right: 5px"
    >
      <mat-icon>search</mat-icon>
    </button>
    <button
      *ngIf="searchGameInput.value"
      matSuffix
      mat-icon-button
      aria-label="Limpar"
      (click)="searchGameInput.setValue('')"
      style="margin-right: 5px"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div>
