body .mat-icon.medium-icon {
  font-size: 40px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.mat-mdc-form-field .mat-mdc-text-field-wrapper {
  border-radius: 30px;
}
.cdk-overlay-container .cdk-overlay-pane div.mat-mdc-autocomplete-panel {
  border-radius: 10px !important;
}
.mat-mdc-card-content {
  padding: 10px 16px !important;
}
.mat-step-header.cdk-focused,
.mat-step-header.cdk-program-focused {
  background-color: transparent !important;
}
.mat-horizontal-stepper-header:hover {
  background-color: transparent !important;
}
form .mat-horizontal-content-container {
  padding: 0 !important;
}
.btn-rounded {
  border-radius: 20px !important;
}
.disabled-typography {
  color: rgba(0, 0, 0, 0.38); /* You can adjust the color and opacity */
  pointer-events: none; /* Optional: to make it non-interactive */
}
.chat-input-field .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.ng-select.location-select .ng-select-container {
  min-height: 0px;
  border-radius: 15px;
}
