/* You can add global styles to this file, and also import other style files */
// "@angular/material/prebuilt-themes/deeppurple-amber.css", on angular.json

@use "@angular/material" as mat;
@use "sass:map";
@use "@fireflysemantics/sass-logger" as logger;
@use "./app/shared/shared.theme" as shared;
@use "./app/pages/home/home.theme" as home-page;
@use "./app/pages/game-detail/game-detail.theme" as game-detail-page;

@include mat.core();

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$custom-background: mat.define-palette(mat.$blue-grey-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
    typography: mat.define-typography-config(),
    custom-background: $custom-background,
    density: 0,
  )
);

@include mat.all-component-themes($theme);
@include mat.typography-hierarchy($theme);
@include mat.form-field-density(-4);
@include mat.icon-button-density(-4);

@include shared.apply-theme($theme);
@include home-page.apply-theme($theme);
@include game-detail-page.apply-theme($theme);
