/* You can add global styles to this file, and also import other style files */
// "@angular/material/prebuilt-themes/deeppurple-amber.css", on angular.json

@use "@angular/material" as mat;
@use "./app/shared/components/main-nav/main-nav.component.theme.scss" as
  navigation;
@use "./app/shared/components/sliding-menu/sliding-menu.component.theme" as
  sliding-menu;

  @use "./app/shared/components/sub-nav/sub-nav.component.theme" as
  sub-nav;


@include mat.core();

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($theme);
@include mat.typography-hierarchy($theme);
@include mat.form-field-density(-4);
@include mat.icon-button-density(-4);

@include navigation.theme($theme);
@include sliding-menu.theme($theme);
@include sub-nav.theme($theme);
