.main {
  padding-bottom: 65px;
}
.label-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.label-text {
  font-family: "Squada One", cursive;
  color: #1258a7;
  font-size: 1.55rem;
  text-align: center;
}
.cards {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 40px;
  justify-content: center;
}
