<section class="main-section">
  <h2>Publicar Jogo</h2>
  <div class="form-container" [class.mobile]="isHandsetOrSmall | async">
    <form [formGroup]="publishForm">
      <mat-horizontal-stepper #stepper linear="true" [disableRipple]="true">
        <mat-step formGroupName="stepOne">
          <ng-template matStepLabel>Passo 1</ng-template>
          <div class="field-container">
            <mat-form-field floatLabel="always">
              <mat-label>Name do Jogo</mat-label>
              <input matInput formControlName="name" type="text" placeholder="Nome do Jogo" />
            </mat-form-field>
          </div>
          <div class="field-container">
            <mat-form-field floatLabel="always">
              <mat-label>Descrição do Jogo</mat-label>
              <textarea matInput formControlName="description" required placeholder="Informaçōes adicionais sobre o jogo" rows="4"></textarea>
            </mat-form-field>
          </div>
          <div class="field-container">
            <mat-form-field floatLabel="always">
              <mat-label>Tempo de Uso</mat-label>
              <input matInput formControlName="usedTime" type="text" placeholder="Tempo de uso: ex: 3 meses" />
            </mat-form-field>
          </div>
          <div class="field-container">
            <mat-radio-group aria-label="Plataforma" name="platform" formControlName="consoleModel">
              <mat-radio-button value="ps5">PS5</mat-radio-button>
              <mat-radio-button value="ps4">PS4</mat-radio-button>
              <mat-radio-button value="ps3">PS3</mat-radio-button>
              <mat-radio-button value="xbox-one">Xbox One</mat-radio-button>
              <mat-radio-button value="xbox-360">Xbox 360</mat-radio-button>
              <mat-radio-button value="nintendo-switch">Nintendo Switch</mat-radio-button>
              <mat-radio-button value="nintendo-3ds">Nintendo 3DS</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="actions">
            <button mat-button matDialogClose>Cancelar</button>
            <button mat-button matStepperNext [disabled]="!publishForm.get('stepOne')?.valid">Próximo</button>
          </div>
        </mat-step>
        <mat-step formGroupName="stepTwo">
          <ng-template matStepLabel>Passo 2</ng-template>
          <div class="field-container">
            <div class="upload-container">
              <mat-form-field appearance="outline">
                <mat-label>Upload das Imagens</mat-label>
                <input type="file" #fileInput (change)="onFileSelected($event)" multiple style="display: none" />
                <button mat-raised-button color="accent" (click)="fileInput.click()">Selecionar Imagens</button>
                <input matInput placeholder="Selecionar Imagens" value="A primeira imagem selecionada será a principal." readonly />
              </mat-form-field>
              <div *ngIf="selectedFiles && selectedFiles.length > 0">
                <span class="mat-h3">Imagens Selecionadas: </span>
                <ul>
                  <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="actions">
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext [disabled]="!publishForm.get('stepTwo')?.valid">Próximo</button>
          </div>
        </mat-step>
        <mat-step formGroupName="stepThree">
          <ng-template matStepLabel>Pré-visualização</ng-template>
          <div class="card-preview" *rxIf="game$; let game">
            <app-game-card [previewMode]="true" [game]="game" [imagePreview]="imagePreview"></app-game-card>
          </div>
          <div class="actions">
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-raised-button color="accent" (click)="submit()" [disabled]="publishForm.invalid || isLoading">
              <mat-spinner *ngIf="isLoading; else buttonText" diameter="24"></mat-spinner>
              <ng-template #buttonText>Publicar</ng-template>
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</section>
